/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #1A1A1A;
}

.hero-image {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-image h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-image p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}