/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
   box-sizing: border-box;
   font-size: 16px;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   font-weight: lighter;
}

/*  Set the font */
body {
   font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.hero-image {
   background-image: url("../images/apple-pie.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 59vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

h1 {
   color: white;
   font-size: 80px;
}

article {
   padding: 100px;
}

.introduction {
   font-size: 22px;
   line-height: 30px;
}

section>img {
   display: block;
   margin: 40px auto 20px auto;
}

hr {
   border: 2px solid #CCC;
   border-radius: 5px;
}

h2 {
   font-size: 22px;
   margin: 40px 0 25px 0;
}

ul>li {
   padding-left: 10px;
   list-style-type: none;
   font-size: 17px;
   line-height: 25px;
}

ol {
   /* 1. Remove the default list style */
   list-style-type: none;
}

ol>li {
   /* 2. Create a custom list counter */
   counter-increment: listcounter;
   padding-left: 10px;
   font-size: 17px;
   line-height: 25px;
}

ol>li::before {
   /*3. Set the new style for the list markers */
   content: counter(listcounter) ")";
}